<div class="metro-searchbox-tile">
	<h3 id="metro-searchbox-tile-title">
		Searchbox
	</h3>
	<div class="metro-searchbox-tile-anim">
		<label id="metro-searchbox-tile-desc">
			<select id="metro-searchbox-tile-desc" ng-options="group as (group.title.text || '[no name]') for group in list" ng-model="selectedGroup"></select>
		</label>
		<div id="metro-searchbox-tile-input">
			<input type="text" ng-model="searchQueryTile" ng-keydown="keydown($event)" autofocus="true">
			<i ng-click="flush()" ng-show="inputDirty">&times;</i>
		</div>
	</div>
	<div id="metro-searchbox-tile-list">
		<metro-searchbox-tile-item list="selectedGroup.tiles" query="searchQueryTile"></metro-searchbox-tile-item>
	</div>
</div>