<div class="metro-group-editable">
	<div contenteditable="{{group.title.editable}}" ng-style="groupwidth" class="metro-group-title" ng-bind="group.title.text">
	</div>
	<i>&times;</i>
</div>
<div class="gridster">
	<ul ng-style="groupwidth">
		<li 
		data-row="{{tile.r}}" 
		data-col="{{tile.c}}" 
		data-sizex="{{tile.x}}" 
		data-sizey="{{tile.y}}" 
		class="gs_w metro-tile-item-anim"
		ng-repeat="tile in group.tiles"
		ng-click="childer(tile, tile.text)" ng-style="{'background-color': tile.b}"><i class="fa fa-{{tile.i}}"></i>
		{{tile.text}}
	</li>
</ul>
</div>