<fieldset id="info">
<legend><a href="http://github.com/rating/metro">http://github.com/rating/metro</a></legend>
	<ol>
		<li>
			Lazy compilation, DOM stays clear - anti-overload
		</li>
		<li>
			Use <b>Ctrl + B</b> to open searchbox, <b>Esc</b> to hide
		</li>
		<li>
			Use <b>Ctrl + Q</b> to toggle between tile/list views
		</li>
		<li>
			Edit group headers inline
		</li>
		<li>
			Velocity.js animation
		</li>
		<li>
			Single source at <a href="scripts/metro/data/tiles.json">scripts/metro/data/tiles.json</a>
		</li>
		<li>
			Single route, provide configs to metroProvider, drop <code>metro</code> tag (Note: Format of metro tiles must be like in <code>tiles.json</code>)
		</li>
		<li>
			Deep child linking, indeed deeper that 3, just pre-format <code>tiles.json</code>
		</li>
		<li>
			From Oskemen with love 
		</li>
	</ol>
</fieldset>
<metro-searchbox-tile list="groups" ng-if="searchbox"></metro-searchbox-tile>
<button ng-click="toggle()" id="metro-tab-toggle" title="Press Ctrl+Q to toggle">Toggle</button>
<metro-tile-view ng-if="tileactive" view="groups" class="metro-tab-anim"></metro-tile-view>
<metro-list-view ng-if="!tileactive" view="groups" class="metro-tab-anim"></metro-list-view>