html{
	font-family: 'Segoe UI Light', 'Verdana', 'Calibri', 'Times New Roman';
}
/* GRIDSTER */
.gridster{
	display: inline-block;
}
metro-tile-view{

}
.gridsterview, .metro-list-view{
	display: block;
}
.gridsterview{

}
.gridsterview>ul{
	display: flex;
	height: 100%;
	width:100%;
	margin:0;
	padding:0;
}
.gridster ul{
	display: inline-block;
	height: 400px;
	margin:0;
	padding:0;
}
.gridsterview>ul>li{
	list-style: none;
	padding:40px;
	display: inline-block;
}
.gridster ul li{
	background: lightblue;
	list-style: none;
	border: 2px solid #eee;
	margin:0;
	padding:0;
}
.gridster ul li:hover{
	border: 2px solid #aaa;
}


.metro-list-view ul.metro-list-view-list{
	display: flex;
	width: 100%;
	margin:0;
	padding:30px 0 0 0;
}
.metro-list-view ul.metro-list-view-list>li{
	list-style: none;
	padding:0;
	display: inline-block;
}
ul.metro-list-view-item{
	margin:0;
	width: 278px;
	padding: 0 0 0 10px;
}
ul.metro-list-view-item li{
	list-style: none;
	height: 40px;
	margin: 10px 0;
	display: block;
	width:90%;
	cursor:pointer;
	background-color:lightblue;
}
ul.metro-list-view-item li:hover{
	outline: 2px solid #aaa;
}
#metro-tab-toggle{
	border-radius: 10px;
	border: 1px solid white;
	position: fixed;
	bottom:10px;
	left:10px;
}
#metro-tab-toggle:active, #metro-tab-toggle:focus{
	outline:none;
}
metro-tile-view{
	display: inline-block;
}
metro-list-view{
	display: inline-block;
}
metro-tile-group{
	display: inline-block;
}
body{
	background:#eee;
	margin: 0;
	padding: 0;
}
metro-tab{
	
}
.metro-group-editable{
	position: relative;
}
.metro-group-title{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.3em;
	color:#333;
}
.metro-group-editable>i{
	visibility: hidden;
	position: absolute;
	top:0;
	right:0;
}
.metro-group-title:focus{
	background-color:#fff;
	color:#111;
}
.metro-group-editable:active, .metro-group-editable:focus i{
	visibility: visible;
}
#metro-list-view-searchbox{
	position:fixed;
	top:0;
	right: 0;
}
button.backer-btn{
	height: 30px;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border:none;
	background-color:lightblue;
	color:#fff;
	margin: 0 5px;
	cursor: pointer;
}
#metro-controls{
	position: fixed;
	top:0;
	right: 0;
}

/*SEARCHBOX.TILE*/
metro-searchbox-tile{
	position: fixed;
	top:-19px;
	right:0;
	width: 300px;
	z-index: 999999;
	color:#fff;
	bottom:0;
}
.metro-searchbox-tile{
	background-color:#006;
	height: 100%;
	position: relative;
}
.metro-searchbox-tile #metro-searchbox-tile-title{}
.metro-searchbox-tile #metro-searchbox-tile-desc{
	width: 200px;
	display: block;
	margin:10px auto;
}
.metro-searchbox-tile #metro-searchbox-tile-desc > select{
	background-color: #006;
	color:#fff;
	border:none;
	outline:none;
}
.metro-searchbox-tile #metro-searchbox-tile-input{
	width: 200px;
	margin:10px 0;
	margin: auto;
	display: block;
}
.metro-searchbox-tile #metro-searchbox-tile-input > input{
	width: 95%;
	padding: 5px;
}
.metro-searchbox-tile #metro-searchbox-tile-input > input:after{
	content: '&times';
}
.metro-searchbox-tile #metro-searchbox-tile-input > i{
	color:white;
	padding: 2px 4px;
	margin-left: -30px;
	cursor: pointer;
	border: 1px solid white;
	background:blue;
}
.metro-searchbox-tile #metro-searchbox-tile-input > i{

}
.metro-searchbox-tile #metro-searchbox-tile-list{
	height: 100%;
	padding-top:20px;
}

.metro-searchbox-tile #metro-searchbox-tile-list ul{
	margin:0;
	padding:0;
	overflow: hidden;
	color:white;
}
.metro-searchbox-tile #metro-searchbox-tile-list ul li{
	list-style: none;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 0 0 10px;
	display: block;
	width:100%;
	padding:0 20px;
	cursor:pointer;
}
.metro-searchbox-tile #metro-searchbox-tile-list ul li:first-child{
	background-color: #00b;
}
.metro-searchbox-tile #metro-searchbox-tile-list ul li:hover, .metro-searchbox-tile #metro-searchbox-tile-suggession > ul > li:hover, .metro-searchbox-tile #metro-searchbox-tile-suggession > ul > li.active{
	background-color: #00a;
}
.metro-searchbox-tile #metro-searchbox-tile-list ul li:first-child:hover{
	background-color: #00b;
}
/* ANIMATIONS */

/* MISC */
#info{
	position: fixed;
	bottom:0;
	right:0;
	z-index: 9999;
	background:white;
	opacity: 0.3;
	width: 400px;
}
#info ol li:last-child{
	list-style: none;
	font-size: .8em;
}
#info:hover{
	opacity: 1;